body{
    font-family: sans-serif;
    margin: 0;
    background-color: white;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;

}

.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}



h1{
    color: #001f3f;
}
b{
    text-decoration: none;
    color:#001f3f;
    align-items: center;
    text-align: center;
}
.separator {
    border: none;
    height: 2px;
    background-color:#001f3f;
    margin: 20px 0;
}


header{
    display: flex;
    min-height: 70px;
    background-color:white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 100px;
    margin-right: 35px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color:#001f3f;

}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}






.login-box{
    width: 400px;
    height: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color:#001f3f;
    border-radius: 10px;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-60%, -60%);
    box-sizing: border-box;
    padding: 30px 40px;
}
.login-box .avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    left: calc(50% -50%);

}
.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
    background-color: #001f3f;
}
.login-box input[type="text"],
.login-box input[type="password"]{
    border-bottom: 1px solid #001f3f;
    background: transparent;
    outline: none;
    height: 40px;
    color: #001f3f;
    font-size: 16px;
}
.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: rgba(63,94,251,1);
    color: #001f3f;
    font-size: 18px;
    border-radius: 20px;
}
.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.login-box a :hover{
   color:#001f3f; 
}

.avatar{
    left: 34%;
    
  
}

